
.texto{
  color: #113172b3;
  margin-top: 35%;
  text-align: center;
  font-weight: 750;
  font-size: xxx-large;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.aulaA{
  background: linear-gradient(0deg,#a4b9e0b3, rgba(0,0,0,0.6)),
  url("../../assets/fondo2.jpg") no-repeat center center / cover;
}   

.aulaB{
  background: linear-gradient(0deg,#9ed4c7b3, rgba(0,0,0,0.6)),
  url("../../assets/fondo3.jpg") no-repeat center center / cover;
  
}

.boton{
  width: 100%;
  height: 50%;
  margin: inherit;

}

.texto2{
  color: #075741b3;
  margin-top: 35%;
  text-align: center;
  font-weight: 750;
  font-size: xxx-large;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

